.viewport {
  position: fixed;
  z-index: 10;
  top: calc(var(--space-16) + var(--space-4));
  right: var(--space-8);
  max-width: calc(100vw - var(--space-8));
  animation: toast-in 180ms ease;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(calc(var(--space-2) * -1));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 48rem) {
  .viewport {
    right: var(--space-4);
    left: var(--space-4);
    max-width: none;
  }

  .viewport > aside {
    width: 100%;
  }
}
